<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<p style="line-height: 18px; font-size: 18px;  font-family: times;">
<h3>Vehicle Image Viewer</h3>
<br>
<!--<img name="photoImage" src="https://inventory-dmg.assets-cdk.com//2/5/8/15161883852.jpg" alt="junk"/>-->
<form>
	Enter Web Id : <input type="text" name="webIdText" id="webIdText" value="gmps-deacon" size=25></input>
	Enter From Date(mm/dd/yyyy) : <input type="text" name="fromDate" id="fromDate" size=10 value="08/31/2017"></input>
	Enter To Date(mm/dd/yyyy) : <input type="text" name="toDate" id="toDate" size=10 value="09/02/2017"></input><br>
	Number of Vehicles per fetch: <input type="text" name="limitText" id="limitText" value="10" size=5></input>
	<button name="fetchImagesButton" id="fetchImagesButton">Fetch Images</button>
	<br/>
	<button name="prevPageButton" id="prevPageButton" disabled>Prev Page</button>
	<button name="nextPageButton" id="nextPageButton" disabled>Next Page</button>
	<div id="pageInfo"></div>
	<div id="corruptedImages"></div>

</form>
<div id="photos">

</div>

<script>
var prev = -1;
var next = -1;
var limit = parseInt($('#limitText').val());
var webId = $('#webIdText').val();
$('#fetchImagesButton').on('click', function(e){
	//alert("God is great");
    e.preventDefault();
    fetchImages();
});

$('img[name="photoImage"]').on('click', function(e){
	processImageClick($(this));
});
function processImageClick( img ){
	//alert("God is great");
	var alt = img.attr("alt");
    //alert("Clicked Photo -> "+ alt);
    $('#corruptedImages').append(alt+"<br>");
    
}
$('#prevPageButton').on('click', function(e){
	//alert("God is great");
    e.preventDefault();
    fetchPaginatedImages(prev);
});
$('#nextPageButton').on('click', function(e){
	//alert("God is great");
    e.preventDefault();
    fetchPaginatedImages(next);
});

//renderImages();
function make_base_auth(user, password) {
  var tok = user + ':' + password;
  var hash = btoa(tok);
  return "Basic " + hash;
}

function fetchPaginatedImages( page ){
	webId = $('#webIdText').val();
	var toDate = $('#toDate').val();
	var fromDate = $('#fromDate').val();
	//alert( "Fetch Images -> "+webId+" -> "+fromDate+" -> "+toDate);
	//alert( "Window Location -> "+window.location.host);
	//var host = "localhost:8080";
	var host = window.location.host;
	var url = "http://"+host+"/images/?webId="+webId+"&limit="+limit+"&offset="+(page*limit);
	//alert(url);
	renderImagesFromURL(url, convertDate(fromDate), convertDate(toDate));

}
function fetchImages(){

	prev = -1;
	next = -1;
	limit = parseInt($('#limitText').val());
	$('#pageInfo').html("");
	$('#corruptedImages').html("");
	
	//alert ("Limit from text field -> "+limit );
	fetchPaginatedImages(0);
	
}
function renderImages(){
    //url: u"http://invservices.prod-las.cobaltgroup.com/inventory/rest/v1.0/vehicles/search?inventoryOwner=gmps-diver&responseFields=vin,assets&dealerPhotos=true&limit=25&offset=1",
    //url:"http://www.abelgm.com/count.do?search=new",
    var url =  "http://localhost:8080/images?webId=lex-bellevue";
	//renderImagesFromURL( url ); 
}

function renderImagesFromURL( u, fromDate, toDate ){
	//alert("URL in renderImagesFromURL() -> "+ u);
	$.ajax
  	({
    	type: "GET",
    	url: u,
    	dataType: 'json',
    	async: false,
    //data: '{"username": "ttt", "password" : "ttt"}',
    /*beforeSend: function (xhr){ 
        var x = make_base_auth("tt", "tt");
        alert (x);
        xhr.setRequestHeader('Authorization', x); 
    },*/
    	success: function (t){
    		//alert('Thanks for your comment! ' + t); 
    		var v = eval(t);
    		displayImages(v, fromDate, toDate);
    	},
 		error: function(abc, textStatus, errorThrown) { 
        	alert("Status:  "+abc.status+" -> Text Status: " + textStatus + " -> Error: " + errorThrown); 
    	}    
  	});

}

function stringToDate(_date,_format,_delimiter)
{
            var formatLowerCase=_format.toLowerCase();
            var formatItems=formatLowerCase.split(_delimiter);
            var dateItems=_date.split(_delimiter);
            var monthIndex=formatItems.indexOf("mm");
            var dayIndex=formatItems.indexOf("dd");
            var yearIndex=formatItems.indexOf("yyyy");
            var month=parseInt(dateItems[monthIndex]);
            month-=1;
            var formatedDate = new Date(dateItems[yearIndex],month,dateItems[dayIndex]);
            return formatedDate;
      
}

function convertDate( date ){
	return stringToDate( date, "mm/dd/yyyy", "/");
}

function setPrevAndNext( totalVehicles, offset, limit, matchingPhotos ){
	prev = offset / limit;
	next = prev + 1;
	if( prev == 0 ){
		prev = -1;
	}
	if( totalVehicles / limit < next ){
		next = -1;
	}
	//alert( "setPrevAndNext -> "+prev + " -> "+next);
	displayPrevAndNextButtons();
	setPageInfo(totalVehicles, offset, limit, matchingPhotos);
}

function setPageInfo( totalVehicles , offset, limit, matchingPhotos ){
	var x = parseInt (totalVehicles/limit);
	var pi = "Total Vehicles : "+totalVehicles+" -> Displaying Page # "+ next+" of "+ x +" pages : Matching Photos to be displayed -> "+matchingPhotos;
	$('#pageInfo').html(pi);
}

function displayPrevAndNextButtons(){
	if (prev == -1 ){
		$('#prevPageButton').attr("disabled",true);
	}
	else{
		$('#prevPageButton').attr("disabled",false);
	}
	
	if (next == -1 ){
		$('#nextPageButton').attr("disabled",true);
	}
	else{
		$('#nextPageButton').attr("disabled",false);
	}
}

function displayImages( results , fromDate, toDate){
	$('#photos').html("")
	var summary = results.searchResult.summary;
	var vehicles = results.searchResult.vehicles;
	var totalPhotos = 0;
	var matchingPhotos = 0;
	var totalVehicles = parseInt(summary.totalVehicles);
	//alert (summary.offset + " -> "+ summary.limit);
	var offset = summary.offset;
	var limit = summary.limit;
	//alert (offset + " -> "+ limit);
	for( var v in vehicles ){
		var vehicle = vehicles[v].vehicle;	
		var vin = vehicle.vin;
		if (vehicle.assets == null ){
			continue;
		}
		var photos = vehicle.assets.dealerPhotos;
		if( photos == null ){
			continue;
		}
		for( var photo in photos){
			totalPhotos++;
			var p = photos[photo];
			var path = p.path;
			var lm = p.lastModified;
			//alert (path + " -> "+lm );
			//break;
			var date = stringToDate(lm,"yyyy-mm-dd","-");
			//alert( date + " -> "+ fromDate + " -> "+ toDate);
			if (date >=fromDate && date<= toDate){
				matchingPhotos++;
				var pth = summary.imageServerURL + path;
				var alt = webId + " - "+ vehicle.id+" - "+vin+" - "+vehicle.year+" - "+vehicle.make.label+" - "+vehicle.model.label + " - "+pth+ " - " + lm;
				$('#photos').append("<img name='photoImage' src='"+pth+ "' alt = '" +alt+ "'height='250px' width='250px'>");
			}
		}
	}
	if( matchingPhotos == 0){
		//alert("No Photos matching your criterion in this page");
	}
	setPrevAndNext(totalVehicles, offset, limit,matchingPhotos);
	$('img[name="photoImage"]').on('click', function(e){
		processImageClick($(this));
	});
	//alert("Total Photos -> "+totalPhotos+" : Matching Photos -> "+matchingPhotos);
}
</script>
</p>
