<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Dialog - Modal form</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <style>
        label {display:inline-block;width: 20%;text-align: right; vertical-align: top;font-size: 0.9em; font-weight:bold;}
        input { display:inline-block;}
        input.text { margin-bottom:12px; width:95%; padding: .4em; }
        input#jobtime {width:50%}
        fieldset { padding:0; border:0; margin-top:25px; }
        h1 { font-size: 1.2em; margin: .6em 0; }
        div.users-contain { margin: 20px 0; }
        div#users-contain {width:350px;}
        div.users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
        div.users-contain table td, div.users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
        .ui-dialog .ui-state-error { padding: .3em; }
        .validateTips { border: 1px solid transparent; padding: 0.3em; }
        #jobtype-button {width:35%}
        div.section {margin-bottom: 15px}
        button#create-user {float:right;}
        div#jobs-contain h1 {float:left}
        div#users-contain h1 {float:left}
        button#create-contractor {float:right;}
        div#contractor-dialog-form input { width:60%;}
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

<!--NEW JOB dialog-->
<div id="job-dialog-form" title="New job request">
    <form>
        <fieldset>
            <div class="section">
                <label for="jobtype">Type:</label>
                <select name="jobtype" id="jobtype">
                    <option disabled selected>Please pick one</option>
                    <option selected value="Cleaning">Cleaning</option>
                    <option value="Painting">Painting</option>
                    <option value="Re-key">Re-key Locks</option>
                </select>
            </div>


            <div class="section"><label for="jobtime">Date:</label>
                <input type="datetime" name="jobtime" id="jobtime" class="text ui-widget-content ui-corner-all">
            </div>


            <div class="section"><label for="address">Address:</label>
                <textarea name="address" id="address" rows="2" class="text ui-widget-content ui-corner-all">605 5th Ave Unit A, Seattle, WA 98104</textarea>
            </div>


            <div class="section"><label for="description">Decription:</label>
                <textarea name="description" id="description" cols="30" rows="4" class="text ui-widget-content ui-corner-all">Clean the apartment in Lynnwood ...</textarea>
            </div>

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<!--NEW CONTRACTOR dialog-->
<div id="contractor-dialog-form" title="New contractor request">
    <form>
        <fieldset>
            <div class="section"><label for="contractor-id">id:</label>
                <input name="contractor-id" id="contractor-id" class="text ui-widget-content ui-corner-all">
            </div>
            <div class="section"><label for="contractor-name">name:</label>
                <input name="contractor-name" id="contractor-name" class="text ui-widget-content ui-corner-all">
            </div>
            <div class="section"><label for="contractor-phone">phone:</label>
                <input name="contractor-phone" id="contractor-phone" class="text ui-widget-content ui-corner-all">
            </div>
            <div class="section"><label for="contractor-email">email:</label>
                <input name="contractor-email" id="contractor-email" class="text ui-widget-content ui-corner-all">
            </div>

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>


<div id="users-contain" class="ui-widget users-contain">
    <h1>Contractors:</h1> <button id="create-contractor">New Contractor</button>
    <table id="users" class="ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header ">
            <th>Name</th>
            <th>Email</th>
            <th>phone</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="jobs-contain" class="ui-widget users-contain">
    <h1>Current jobs:</h1> <button id="create-user">New job request</button>
    <table id="jobs" class="ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header ">
            <th>Date</th>
            <th>Type</th>
            <th>Address</th>
            <th>Contractor</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<script>
    $( function() {
        let jobDialog, contractorDialog, userForm, contractorForm;
        let contractorsCache = {};

        jobDialog = $( "#job-dialog-form" ).dialog({
            autoOpen: false,
            height: 445,
            width: 350,
            modal: true,
            buttons: {
                "Create job request": createJobRequest,
                Cancel: function() {
                    jobDialog.dialog( "close" );
                }
            },
            close: function() {
                userForm[ 0 ].reset();
                //allFields.removeClass( "ui-state-error" );
            }
        });

        userForm = jobDialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            createJobRequest();
        });

        contractorDialog = $( "#contractor-dialog-form" ).dialog({
            autoOpen: false,
            height: 445,
            width: 350,
            modal: true,
            buttons: {
                "Create a contractor": createContractorRequest,
                Cancel: function() {
                    contractorDialog.dialog( "close" );
                }
            },
            close: function() {
                contractorForm[ 0 ].reset();
                //allFields.removeClass( "ui-state-error" );
            }
        });

        contractorForm = contractorDialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            createContractorRequest();
        });

        //create Job button
        $( "#create-user" ).button().on( "click", function() {
            jobDialog.dialog( "open" );
        });

        //create Contractor button
        $( "#create-contractor" ).button().on( "click", function() {
            contractorDialog.dialog( "open" );
        });

        $( "#jobtype" ).selectmenu();
        $( "#jobtime" ).datepicker().datepicker("setDate", new Date());

        //get contractors
        getContractorsDataAndBindUI()
            .then(()=> {
                getJobsDataAndBindUI();
        });

        // ----------- helper functions  -------------
        function getContractorsDataAndBindUI() {
            return $.getJSON(" /contractors")
                .then((contractorsData) => {
                    $( "#users").find("tbody" ).html("");

                    console.log(contractorsData);
                    contractorsData.forEach(function (contractorData) {
                        contractorsCache[contractorData.id] = contractorData;
                        addNewUserUI(contractorData.name, contractorData.email, contractorData.phone);
                    });
                });
        }

        function getJobsDataAndBindUI() {
            return $.getJSON("/api/pm/job/100").then((jobsData) => {
                console.log(jobsData);
                bindJobsUI(jobsData);

                // auto refresh page every 7 sec
//                setTimeout(function(){
//                    window.location.reload(1);
//                }, 7000);
            });
        }

        function bindJobsUI(jobsData) {
            $( "#jobs").find("tbody" ).html("");
            jobsData.jobs.forEach(function (jobData) {
                addNewJobUI(jobData, contractorsCache);
            });
        }



        function addNewUserUI(username, userEmail, userphone) {
            $( "#users").find("tbody" ).append( "<tr>" +
                    "<td>" + username + "</td>" +
                    "<td>" + userEmail + "</td>" +
                    "<td>" + userphone + "</td>" +
                    "</tr>" );
            jobDialog.dialog( "close" );
        }

        function addNewJobUI(jobData, contractorsCache) {
            const date = new Date(jobData.desiredDateOfBegin);
            const contractor = contractorsCache[jobData.currentContractorRequestId];

            $( "#jobs").find("tbody" ).append( "<tr>" +
                    "<td>" + (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear() + "</td>" +
                    "<td>" + jobData.type + "</td>" +
                    "<td>" + jobData.jobLocation + "</td>" +
                    "<td>" + contractor.name+ "<br>" + contractor.phone+ "</td>" +
                    "<td>" + jobData.description + "</td>" +
                    "</tr>" );
        }

        function createContractorRequest() {
            let contractorReqData =
                {
                    "id": $("#contractor-id").val(),
                    "name":$("#contractor-name").val(),
                    "phone": $("#contractor-phone").val(),
                    "email": $("#contractor-email").val()
                };

            $.ajax({
                url: '/contractors',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(contractorReqData),
                dataType: 'json',
                success: function() {
                    getContractorsDataAndBindUI();
                    contractorDialog.dialog( "close" );
                }
            });

            return true;
        }

        function createJobRequest() {
            let jobReqData =
            {"job":
                {
                    "propertyManagerId":"100",
                    "description":$("#description").val(),
                    "desiredDateOfBegin":new Date($("#jobtime").val()).getTime(),
                    "type":$("#jobtype").val(),
                    "address":
                            {
                                "street1":$("#address").val()
                            }
                },
                "propertyManagerId":"100"
            };

            $.ajax({
                url: '/api/pm/job/100',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(jobReqData),
                dataType: 'json',
                success: function() {
                    getJobsDataAndBindUI();
                    jobDialog.dialog( "close" );

                }
            });

            return true;
        }
    } );
</script>
</body>
</html>